name: FanZone Frontend CI

on:
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout
      - name: Checkout repository
        uses: actions/checkout@v3

      # Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20.x"

      # Install dependencies
      - name: Install React dependencies
        run: npm install

      #  Build React
      - name: Build React
        run: npm run build
