name: FanZone Frontend CI

on:
  push:
    branches:
      - "main"
jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./front_end

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: "20.x"

      - name: Install React dependencies
        run: npm install

      - name: Build React
        run: npm run build
