name: FanZone Frontend CI

on:
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2️⃣ Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20.x"

      # 3️⃣ Install dependencies
      - name: Install React dependencies
        run: npm install

      # 4️⃣ Build React
      - name: Build React
        run: npm run build

      # 5️⃣ Run tests
      - name: Run React tests
        run: npm test -- --watchAll=false
